.image2::before {
  content: '';
  position: absolute;
  width: 110px;
  background-image: linear-gradient(
    180deg,
    rgba(81, 255, 0, 0.9),
    rgba(255, 48, 255, 0.95)
  );
  height: 150%;
  animation: rotBGimg 4.5s linear infinite;
  transition: all 0.1s linear;
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image2:hover:before {
  background-image: linear-gradient(180deg, rgb(0, 183, 255), purple);
  animation: rotBGimg 4.5s linear infinite;
}
